{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
           <div class="card">
                <div class="card-header">
                {{ post.profile.user.username }}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <small class="card-text">{{ post.content }}</small>
                <small>{{post.neighbourhood.neighbourhood_name}}</small>
                    <br>
                <a href="{% url 'new-comment' %}"><button type="button" class="btn btn-outline-primary btn-sm">Add a Comment</button></a>

                </div>
                <div class="card-footer text-muted">
                    <blockquote class="blockquote mb-0">
                      <small>We make our friends; we make our enemies; but God makes our next door neighbor.</small>
                      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">{{ neighbourhood.neighbourhood_name }} </cite></footer>
                    </blockquote>
                </div>
            </div>

            <h3>Comments:</h3>
            <small>{{ comment.content }}</small>
        </div>
        <div class="col-md-3"></div>



</div>
{% endblock %}